@media print {

    @page {
        margin: 0;
    }

    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }

    #page-header, #navbar, aside, footer {
        display: none;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "article";
    }

    article {
        grid-area: article;
    }

    main {
        margin: 4rem;
        margin-left: 0rem;
        padding: 0;
        box-shadow: none;
    }

    h1, h2, h3, h4 {
        margin: 1rem 0rem;
    }

    pre code {
        background-color: white;
        color: black;
    }

    pre {
        background-color: white;
        color: black;
    }

    .pagebreak {
        page-break-after: always;
    }

  }