.eerie-black {
    background-color: $eerie_black;
    color: white;
}

.jet {
    background-color: $jet;
    color: white;
}

.independence {
    background-color: $independence;
    color: white;
}

.cyber-grape {
    background-color: $cyber_grape;
    color: white;
}

.tuscan-red {
    background-color: $tuscan_red;
    color: white;
}

.cultured {
    background-color: $cultured;
}

.cultured-alt {
    background-color: $cultured_alt;
}

.cultured-dark {
    background-color: $cultured_dark;
}

.shadow-dark {
    background-color: $shadow_dark;
    color: white;
}

.shadow-light {
    background-color: $shadow_light;
}

.white {
    background-color: $white;
}

.valid-green {
    background-color: $valid_green;
}

.invalid-red {
    background-color: $invalid_red;
}

.valid-green-text {
    color: $valid_green-text;
}

.invalid-red-text {
    color: $invalid_red-text;
}

.warning-orange-text {
    color: $warning_orange-text;
}