$eerie_black: #171717;
$jet: #292929;
$cultured_dark: #E8E7E9;
$cultured: #F1F0F2;
$cultured_alt: #F8F8F9;
$white: #FFFFFF;
$shadow_light: #CBCBCB;
$shadow_dark: #080808;
$independence: #334263;
$cyber_grape: #624F7E;
$tuscan_red: #794343;
$valid_green: #BDF0BD;
$invalid_red: #F0BABA;
$valid_green-text: #4fb14f;
$invalid_red-text: #ce3b3b;
$warning_orange-text: #f1a922;