$eerie_black: #171717;
$jet: #292929;
$cultured_dark: #E8E7E9;
$cultured: #F1F0F2;
$cultured_alt: #F8F8F9;
$white: #FFFFFF;
$shadow_light: #CBCBCB;
$shadow_dark: #080808;
$independence: #334263;
$cyber_grape: #624F7E;
$tuscan_red: #794343;