article {
    img {
        border-radius: 3px;
        background-color: $cultured_alt;
        width: 100%;
    }
    figure {
        margin: 1rem;
    }
    > section > ul {
        padding-left: 1.5rem;
        margin: 0.5rem 0rem;
        margin-bottom: 1.5rem;
    }
    .headline {
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .intro {
        font-family: 'Noto Serif', serif;
        font-weight: 400;
        margin-top: 0.5rem;
    }
    .bigger-image {
        width: 100%;
    }
    .form-required {
        font-weight: bold;
        color: rgb(226, 54, 54);
    }
    .form-section {
        display: block;
    }
}

.hover-link {
    color: var(--c_eerie_black);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.link-button {
    padding: 0.5em;
    border-radius: 3px;
    background-color: $eerie_black;
    color: $cultured;
    text-decoration: none;
    &:hover {
        background-color: $jet;
        color: $white;
        text-decoration: underline;
    }
}

.sources a {
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
}

.file-structure {
    font-family: 'IBM Plex Mono', monospace;
    background-color: $cultured_dark;
    border-radius: 3px;
    padding: 1rem;
    width: fit-content;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.inline-link {
    color: black;
}